.nav {
	width: 100%;
	float: left;
	&__logo {
		float: left;
		font-size: 1.75rem;
	}
	&__menu-left {
		float: left;
		li {
			display: inline;
		}
		&::after {
			content: "";
			clear: both;
		}
	}
}